<section>

  <h2>Create New Recipe</h2>

  <form class="new-recipe-form">
    <div>
      <label for="recipe-name">Title</label>
      <input type="text" id="recipe-name" name="recipe-name" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>

</section>
