<div class="container">
    <div class="row">
        <div class="col-6">
            <img class="img-fluid rounded mt-5 mb-5" src="https://i.imgur.com/D5Kq2oF.jpg" alt="">
        </div>
        <div class="col-6 align-self-center">
            <h2 class="recipe-title">Buratta with Fire Roasted Tomaotes</h2>
            <p class="recipe-description">
                These roasted tomatoes are the tastiest summer appetizer you'll ever make and they take just a few
                minutes to throw together! Loaded with creamy burrata cheese, drizzled with balsamic reduction and
                garnished with fresh basil - just grab a baguette and a bottle of wine and I'll meet you on the patio!
            </p>
            <div class="row border-bottom d-flex justify-content-center">
                <div class="col-4">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <p>Total Time</p>
                    <p>50 mins</p>
                </div>
                <div class="col-4">
                    <i class="fa-solid fa-users"></i>
                    <p>Yield</p>
                    <p>Serves 4</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Created by Megan</p>
                    <p>25 recipes</p>
                </div>
                <div class="col">
                    <button class="btn-primary">Add To Favorites</button>
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center border-bottom">
        <div class="col-md-8 font-weight-bold" id="instructions">
            <h5>Instructions</h5>
            <ol>
                <li>Preheat oven to 400 degrees.</li>
                <li>In a small baking dish combine tomatoes, garlic, oregano, and olive oil along with a pinch of salt.
                    Toss to coat the tomatoes evenly.</li>
                <li>Roast for 30 minutes.
                </li>
                <li>While the tomatoes are roasting, add balsamic vinegar to a small saucepan over medium-high heat.
                </li>
                <li>Bring to a simmer, reduce heat and gently simmer for 12-15 minutes, or until it reduces by about
                    half and it easily coats the back of a spoon. Set aside to cool.
                </li>
                <li>Remove roasted tomatoes from the oven and top with burrata. Drizzle with balsamic reduction and
                    garnish with fresh basil.
                </li>
                <li>Serve with sliced French baguette and enjoy!
                </li>
            </ol>
        </div>
        <div class="col-md-2" id="ingredients">
            <h5>Ingredients</h5>
            <ul>
                <li>2 pints grape tomatoes</li>
                <li>4 cloves garlic, thinly sliced</li>
                <li>2-3 tablespoons olive oil</li>
                <li>1/2 teaspoon dried oregano</li>
                <li>kosher salt</li>
                <li>8 oz. burrata cheese</li>
                <li>1/2 cup balsamic vinegar</li>
                <li>fresh basil for garnish</li>
                <li>sliced French baguette for serving</li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8" id="comments">
            <h5 class="mt-5">Comments</h5>
            <h6>Megan Campbell</h6>
            <div class="col-6">
            <p>Such a great recipe! Added some basil to roast with the tomatoes and arugula once it came out of the
                oven. Was a real hit!</p>
            </div>
            <h6>Eric</h6>
            <div class="col-6">
            <p>This salad was so wonderful and fresh to go with our lunch today! We absolutely loved this salad! We added some Italian sausage to this and it was so good! Can’t wait to make this again!</p>
            </div>
        </div>
    
    <div class="col-md-2" id="tags">
        <h5 class="mt-5">Tags</h5>
        <button class="btn-primary">appetizer</button>
        <button class="btn-primary">italian</button>
        <button class="btn-primary">side dishes</button>
    </div>
</div>
</div>
